.trop-screen {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;
    place-content: center;
}

.buttons > button {
    width: 100px;
    height: 50px;
}