.card {
    position: relative;
    width: 100px;
    height: 150px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.card > span {
    position: absolute;
}

.card-top {
    top: 5px;
    left: 5px;
}

.card-middle {
    font-size: 24pt;
    top: 40%;
    left: 40%;
}

.card-bottom {
    right: 5px;
    bottom: 5px;
    transform: rotate(180deg);
}

.card.hearts, .card.diamonds {
    color: red;
}